 <header>
     <div class="brand">
     <span class="name">Aziya</span>
     <span class = "title">Education</span>
     </div>
      <nav>
        <a href="/login" class="btn-login">Se connecter</a>
        <a href="/register" class="btn-register">S’inscrire</a>
      </nav>
    </header>