html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-main {
  flex: 1;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px 16px 6px;
  margin-top: auto;
  transform: translateY(-3px);
  font-size: 14px;
  color: #777;
}

.footer p {
  margin: 0;
}
