.box {
  background: #ffffff;
  width: 450px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 30px;
  border-radius: 8px;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); */
}
.box-imputation {
  background: #ffffff;
  width: 600px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 30px;
  border-radius: 8px;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1); */
}
.table-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.table-container h2 {
  font-size: 24px;
  color: #35895f;
  margin-bottom: 20px;
}
.table-container p {
  color: #333333b7;
}
.table {
  width: 100%;
  border-collapse: collapse; /*pour fusionner les bordures du tableau*/
  font-size: 15px;
  text-align: center;
}
.table thead {
  background: #35895f;
  color: white;
}
.table td {
  border-bottom: 1px solid #e2e0db80;
  padding: 10px;
}
.table td:hover {
  background-color: #e2e0db80;
  transition: 0.9s;
}
#btn {
  background-color: #35895f;
  border: 2px solid #35895f;
}
button {
  border: 2px solid #c69428;
  background-color: #c69428;
  color: white;
  border-radius: 6px;
  transition: 0.2s;
  padding: 8px;
}
button:hover {
  background: #896519;
  color: white;
  transition: 0.9s;
  border: 2px solid #896519;
  cursor: pointer;
}

.btn-validate,
#isPresent {
  background-color: #35895f;
  border: 2px solid #35895f;
}

.btn-validate:hover,
#isPresent:hover {
  background-color: #44b37b;
  border: 2px solid #44b37b;
}

.btn-delete,
#close,
#isAbsent {
  border: 2px solid #c62828;
  background-color: #c62828;
  color: white;
  border-radius: 6px;
  transition: 0.2s;
  padding: 8px;
}
.btn-delete:hover,
#isAbsent:hover {
  background: #af1717;
  color: white;
  transition: 0.9s;
  border: 2px solid #af1717;
  cursor: pointer;
}
.buttons {
  background-color: #35895f;
  border: 2px solid #35895f;
}
.buttons:hover {
  background-color: #35895f;
  border: 2px solid #35895f;
}

/* Concerne uniquement le style de modalDisplayStudent.twig  */
.modal-listStudent {
  position: fixed;
  inset: 0; /* Equivalent de top, left */
  background-color: rgb(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#close,
#close-modal-profWithClassroom {
  width: 98%;
  margin: 10px auto;
  padding: 10px;
  background: #c62828;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}
#close:hover,
#close-modal-profWithClassroom:hover {
  background: #af1717;
  transition: 0.9s;
}
.messError {
  background-color: rgba(255, 0, 0, 0.699);
  color: #0a0a0ad0;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  width: 50%;
  margin-top: 10px;
}

.messSucces {
  background-color: #35895f;
  color: white;
  padding: 10px;
  border-radius: 7px;
  text-align: center;
  font-size: 13px;
  font-weight: bolder;
  width: 50%;
  margin-top: 10px;
}

/* ============================
   RESPONSIVE RÉELLEMENT EFFICACE
   ============================ */

/* TABLETTE */
@media (max-width: 840px) {
  .box,
  .box-imputation {
    background: #ffffff;
    width: 400px;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 12px;
    border-radius: 8px;
  }
  .center {
    width: 95%;
    padding: 20px;
  }

 

  .table {
    font-size: 14px;
  }

  .table td,
  .table th {
    padding: 4px;
  }

  button {
    padding: 6px 10px;
    font-size: 14px;
  }
  .btn-delete,
  #close,
  #isAbsent,
  .btn-validate {
    padding: 6px 1px;
    font-size: 10px;
  }
}

/* MOBILE */
@media (max-width: 600px) {
  /* Permet au tableau de scroller horizontalement */
  

  .table {
    width: 400px; /* largeur minimale pour garder la lisibilité */
    font-size: 12px;
  }

  .table td,
  .table th {
    padding: 6px;
  }

  button {
    padding: 5px 8px;
    font-size: 12px;
  }
  .btn-delete,
  #close,
  #isAbsent {
    padding: 5px 8px;
    font-size: 10px;
  }

  .messError,
  .messSucces {
    width: 100%;
    font-size: 12px;
    padding: 8px;
  }
}
@media (max-width: 500px) {
  .table-container {
    padding: 1px;
  }
  .table td,
  .table th {
    padding: 2px;
  }
  button {
    padding: 5px 8px;
    font-size: 8px;
  }
  .btn-delete,
  #close,
  #isAbsent {
    padding: 5px 8px;
    font-size: 8px;
  }
}
@media (max-width: 450px) {
 .sideBar{
  margin: 10px auto;
 }
 .center{
  margin: 20px auto;
 }
  .table td,
  .table th {
    padding: 3px;
    
  }
  button {
    padding: 3px 8px;
    font-size: 6px;
  }
  .btn-delete,
  #close,
  #isAbsent {
    padding: 3px 8px;
    font-size: 6px;
  }
}
